.error{
    color:red;
    
  }
  
  .border-danger{
    border-color: red;
   
  }

  input:invalid {

    border:2px solid red;
  }
  
  
  input:valid {
    border: 2px solid rgb(25, 189, 74);
  }
  
  
  
  
  
  #ins



{
  border:1px solid blue;
}
input:focus{
    outline: none;
}